@font-face {
    font-family: 'RobotoMono';
    src: url('./fonts/RobotoMono-Thin.ttf');
}

* {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: #455A64;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}